= simple_form_for(@task, html: { class: 'form-horizontal' }) do |f|
	=f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category" }, as: :select
	= f.input :title, label: "Task Title", as: :string
	= f.input :description, label: "Task Description", as: :text
	= f.input :company, label: "Your Company", as: :string
	= f.input :url, label: "Link to Task", as: :url
	%br/
	= f.button :submit